@model IEnumerable<SignalR.Models.UserRole>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           
            <td>
                <a href="/UserRole/Edit/@item.Role">Edit</a> |
                <a href="/UserRole/Delete/@item.Role">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
