@model IEnumerable<SignalR.Models.BookType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Discription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Discription)
                </td>
                <td>
                    <a href="/BookType/Edit/@item.ID" >Edit</a> |
                    <a href="/BookType/Delete/@item.ID" >Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
