
@model SignalR.Models.ViewModel.UserViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                
            </th>
            <th>
               
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                

                
            </tr>
        }
    </tbody>
</table>
